@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monomaniac One', sans-serif;
}

body {
    background-image: linear-gradient(to right, #fc5c7cc2, #6a82fbc4);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);

}

.span-two {
    grid-column: span 2;
}

input[type='text'] {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    padding: .75rem;
    color: white;
    font-size: 2.2rem;
    border: none;
    text-align: right;
    letter-spacing: 1.6px;
}

.calculator-grid>button {
    font-size: 2.2rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.562);
    margin: 2px;
}

.calculator-grid>button:hover,
.calculator-grid>button:focus {
    background-color: rgba(255, 255, 255, 0.815);
}

.del-btn {
    color: rgba(255, 0, 0, 0.651);
}

.operators,
.span-two {
    color: #01115eee;
}